
@{
    ViewBag.Title = "Index";
}

<h2>Mr Flix Movie Records</h2>
<br />
<br />
<h2>@Html.ActionLink("Movies that are Checked Out", "MoviesOut", "Records")</h2> <h2>@Html.ActionLink("All Records", "AllRecords", "Records")</h2>


