
@{
    ViewBag.Title = "MovieTrailers";
}

<h2>Upcoming Movie Trailers</h2>
<br />
<br />
<h3 style="color:red; background-color:white;" >Captain America : Civil War</h3> 
<iframe width="854" height="480" src="https://www.youtube.com/embed/6Fc-qgLGQ-I" frameborder="0" allowfullscreen></iframe>
<br />
<br />
<h2 style="color:red; background-color:white;">Sausage Party</h2>
<iframe width="854" height="480" src="https://www.youtube.com/embed/MBdeE7mzED4" frameborder="0" allowfullscreen></iframe>
<br />
<br />
<h3 style="color:red; background-color:white;">TMNT 2: Out of the Shadows</h3>
<iframe width="854" height="480" src="https://www.youtube.com/embed/ej2Gdadlwms" frameborder="0" allowfullscreen></iframe>
<br />
<br />
<h3 style="color:red; background-color:white;">X Men Apocalypse</h3>
<iframe width="854" height="480" src="https://www.youtube.com/embed/Jer8XjMrUB4" frameborder="0" allowfullscreen></iframe>
<br />
<br />
<h3 style="color:red; background-color:white;">Bad Moms</h3>
<iframe width="854" height="480" src="https://www.youtube.com/embed/iKCw-kqo3cs" frameborder="0" allowfullscreen></iframe>
