@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Mr Flix Videos Video Rental is a service that allows non-profit employees(volunteers) to check-OUT and check-IN movies to you for absolutly 
    free if you dont like movies or this site please kick-rocks!</p>
