@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<img src="../Images/moviepopcorn.jpeg" alt="movie" height="180" width="180">
<br />
<p>Mr Flix Videos Video Rental is a service that allows non-profit employees(volunteers) to check-OUT and check-IN movies to you for absolutly 
    free if you dont like movies or this site please kick-rocks!</p>
