@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Up Yours Road<br />
    North Liberty, Iowa 52317-1111<br />
    <abbr title="Phone">Phone:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:schwebachc@yahoo.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>